* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
:root {
  --green: rgb(11, 101, 3);
  --yellow: rgb(255, 233, 35);
  --neutral: rgb(244, 244, 244);
}
body {
  font-family: poppins;
  background-color: var(--neutral);
  /* min-height: 2000px; */
}

nav {
  display: flex;
  background-color: rgba(12, 60, 2, 0.8);
  border-bottom: solid var(--green);
  justify-content: space-around;
  padding: 1.4rem 7%;
  color: rgb(6, 71, 0);
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: center;
  gap: 24px;
}

.logo img {
  max-height: 42px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
}
nav ul li a:hover {
  color: rgb(255, 233, 35);
  transition: 0.2s linear;
}

.navbar .navbar-ex a {
  color: white;
  margin: 0 4px;
}
.navbar .navbar-ex a:hover {
  color: var(--yellow);
  transition: 0.2s linear;
}

#menu {
  display: none;
}
/* hero sec */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;

  background-color: rgb(247, 255, 245);
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: space-between;
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(22, 48, 0) 3%, rgba(8, 57, 0, 0) 25%);
} */

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .imagecontainer {
  text-align: right;

  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
}

.hero img {
  width: 600px;
}

.hero .content h1 {
  font-size: 3rem;
}

.content a {
  background-color: var(--green);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 24px;
  justify-self: right;
  color: var(--yellow);
}
.content h1 .sub {
  color: var(--green);
}
.content h1 .way {
  color: var(--yellow);
}
.footer {
  background-color: var(--green);
  text-align: center;
}

.footer p {
  padding: 8px 16px;
  color: white;
}

/* media queries */
